
@inject ApiService ApiService
@inject NavigationManager NavigationManager
@using tp6.Models

@using Client.Services;
@using Microsoft.AspNetCore.WebUtilities;
<h1>Catálogo de Productos</h1>

<div class="product-list">
    @foreach (var producto in productos)
    {
        <ProductoCard Producto="producto" CarritoId="@carritoId" />
    }
</div>

@code {
    private List<Producto> productos = new();
    private Guid carritoId = Guid.NewGuid(); // Genera uno temporal (si no usás backend para crear)

    protected override async Task OnInitializedAsync()
    {
        await ApiService.ObtenerOCrearCarritoAsync(); // No devuelve nada
        productos = await ApiService.GetProductosAsync();
    }

    private async Task BuscarProductos()
    {
        productos = await ApiService.GetProductosAsync(); // SIN parámetros
    }
 
}

