
.navbar {
    background-color: #282c34;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    min-height: 70px;
    width: 100%;
    box-sizing: border-box;
}

.navbar-logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-right: 2rem;
}

.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.buscador {
    padding: 0.7rem 1.2rem;
    border-radius: 0.7rem;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    outline: none;
    transition: border 0.2s;
    background: #fff;
    width: 100%;
    max-width: 320px;
}

.buscador:focus {
    border: 1.5px solid #0d6efd;
}

.navbar-cart {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
}

.navbar-cart:hover {
    color: #0d6efd;
}
