@using cliente.Services
@using cliente.Models

@inject ApiService ApiService
@inject NavigationManager Navigation



@code {
    private ConfirmarCompraDto formulario = new ConfirmarCompraDto();

    protected override async Task OnInitializedAsync()
    {
        ApiService.OnChange += ActualizarVista;
    }

    void ActualizarVista()
    {
        StateHasChanged(); // Forzar la actualización del menú
    }

    public void Dispose()
    {
        ApiService.OnChange -= ActualizarVista;
    }
    private async Task ConfirmarCompra()
    {

        await ApiService.ConfirmarCompra(formulario);

        Navigation.NavigateTo("/");

    }
}

<EditForm Model="formulario" OnValidSubmit="ConfirmarCompra">
    <DataAnnotationsValidator />

    <div class="w-25 mx-auto p-2 mt-5 border border-primary rounded">
        <div class="">


            <div class="">
                <div class="mb-3 p-2">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <InputText id="nombre" class="form-control" @bind-Value="formulario.NombreCliente" />
                </div>
                <div class="mb-3 p-2">
                    <label for="apellido" class="form-label">Apellido:</label>
                    <InputText id="apellido" class="form-control" @bind-Value="formulario.ApellidoCliente" />
                </div>
                <div class="mb-3 p-2">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" type="email" class="form-control" @bind-Value="formulario.EmailCliente" />
                </div>
            </div>
            <div class="modal-footer m-2 p-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary mx-2">Confirmar</button>
            </div>

        </div>
    </div>
</EditForm>
