@using cliente.Services
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject CarritoService micarrito

<div class="main-layout">
    <header class="header">
        <div class="container">
            <a href="/" class="logo">
                
                <span class="store-name">Apple Store</span>
            </a>

        
            <a href="/carrito" class="carrito-icono">
                🛒 (@CantidadCarrito)
            </a>
        </div>
    </header>
        
    <main class="contenido">
        @Body
          
    </main>
      
    <footer class="footer">
        <p>💼 Emprender con tecnología es nuestro motor, y verte feliz con tu compra es nuestro objetivo.</p>
        <p><strong>Ubicación:</strong> San Miguel de Tucumán , Argentina</p>
        <p>&copy; Apple Store</p>
        
    </footer>
</div>

@code {
    private string busqueda = string.Empty;
    private int CantidadCarrito => micarrito.Items.Count; 
    private bool IsHomePage => NavManager.Uri.EndsWith("/") || NavManager.Uri.EndsWith("/home");
}


